{%load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Current Weather</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{%static 'style.css'%}" type="text/css" />
  </head>
  <body>
    <div class="head">
      <p><span>{{description}}</span> in {{city}} Today!</p>
    </div>

    <div class="container">
      <form method="POST">
        {%csrf_token %}
        <input type="text" placeholder="Weather in your City" name="city" />
        <button type="submit" class="btn">Enter</button>
      </form>
      <div class="weather">
        <div class="left">
          <p style="font-size: 20px; font-weight: bold;">Temperature : {{temp}} &#8451;</p>
          <p>Humidity : {{humidity}}%</p>
          <p>Pressure : {{pressure}} &#13169;</p>
          <p>Cloudiness : {{clouds}}%</p>
        </div>
        <div class="right">
          <div class="icon">
            <p>
              <img
                src="http://openweathermap.org/img/w/{{icon}}.png"
                alt=""
                width="100px"
              />
            </p>
          </div>
          <div class="condition">
            <p>{{day}}</p>
            <p>Country : {{country}}</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>Connect with us </p>
     
      <a href="https://www.instagram.com/razz_alok/"><img src="{% static "img/instagram.png" %}"></a>
      <a href="https://www.linkedin.com/in/alok-raj-047605187/"><img src="{% static "img/linkedin.png" %}"></a>
      
  
    </footer>
  </body>
</html>
<!-- feels_like = res['main']['feels_like']

message = res['sys']['message'] -->